@import "tailwindcss";



@custom-variant dark (&:where(.dark, .dark *));

 /* ✅ Custom Classes */
@layer utilities {
  .animate-spin-slow {
    animation: spin 5s linear infinite;
  }

  .animate-blob {
    animation: blob 10s ease-in-out infinite;
  }

  html {
  scroll-behavior: smooth;
}

  @keyframes blob {
    0% {
      transform:rotateX(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
}